<br>
<div class="container">
   
  <div class="img">
  <img class="thankyou-gif" src="https://thumbs.gfycat.com/ShyCautiousAfricanpiedkingfisher-max-1mb.gif" >
</div>
<br>

<div id="mytxt">
<h1 id="h1">You have been successfully logged out. </h1>
<hr>

</div>
<!-- 
<div class="wrapper">
<button class="button"> Continue to Home Page...</button>
</div> -->
<div class="col-xl-12 mx-auto order-now my-padding">
    <a href="#" role="button" class="nav-link grow" id="mynav"> Continue to Home Page...</a>
    <!-- <a routerLink="/searchComp">Explore near you!!</a> -->
</div>
</div>
