.main{
    background: url("https://cdn2.vox-cdn.com/uploads/chorus_asset/file/6099825/24_kensinger_sunset_park_DSC_2090.0.jpg ");
    background-size: cover;
    color: white;
    padding: 35px;
    font-size: 56px;
    text-align: center;
    width: 100%;
    height: 100%;
 }
 .thankyou-gif{
 
       margin-top: 100px;
       width:90px;
   }
 
 .text {
    padding-top: 5%;
    font-size: 50%;
 }
 #cont1 {
    padding-right: 12px;
 }
 button{
    margin-left: 10px;
 }