#img{
    width: 325px;
     height: 380px;
       margin-top:20px;
       margin-bottom: 40px;
       
}

#text {
    /* padding-top: 10%; */
    margin: auto;
  
   }

   @media (min-width: 768px) {
    #text {
     padding-left: 65px;
    }
    .container2 {
        padding-left: 65px;
       }
  }
 
      @media (min-width: 320px) {
    #img {
     margin: 0px;
    }  
    
  }  

  .container1{
      background-color: beige;
  }
  .container2{
    background-color:  ghostwhite;
}

.container3{
    background-color: gainsboro;
}
.col-md-6{
    margin-top:25px;
    margin-bottom: 25px;
}
