<section class="jumbotron   no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container">
        <h1 class="display-4"> Search storage unit</h1>
        <p> Find your space, coz everybody needs it ;)</p>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" type="search" placeholder="Location / Area" aria-label="Search">
            <input class="form-control mr-lg-2" id="size" type="search" placeholder="Square feet">
            <select class="custom-select" id="size1">

        <option selected>Type : Any</option>
        <option value="1">Refrigerated</option>
        <option value="2">Non-Refrigerated</option>

      </select>

        </form>
        <div class="wrapper">
            <button class="btn btn-primary my-2 my-sm-0" id="mybtn" type="submit" routerLink="/search" routerLinkType="active"> Search

      </button>
        </div>


    </div>
</section>