.jumbotron {
    padding-top: 18%;
    padding-bottom: 18%;
    /* padding-left: 15%; */
    padding-left: 3%;
    margin-bottom: 0;
   
    background-color: #fff;
    /* background-image: url('img/banjo.jpg'); */
    background-image: url('https://static.wixstatic.com/media/9965898c7b854bad9ad52670e0fc39ab.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.nav {
    background-color: aquamarine;
}

.display-4 {
    font-size: 2.9rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron .container {
    margin-top: 4%;
    padding: 3%;
    max-width: 35rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

p {
    color: white;
    padding-left: 2%;
}
h1{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}


#size1,
#size2 {
    width: 11rem;
   
}

.wrapper {
    /* text-align: center;
    margin: 3rem; */

    text-align: center;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 12%;
}


  input {
      margin-left: 5%;
     
  }
   
   #mybtn{
       margin-left: 1%;
   }
