.jumbotron {
    padding-top: 18%;
    padding-bottom: 18%;
    padding-left: 15%;
    margin-bottom: 0;
    background-color: #fff;
    /* background-image: url('img/banjo.jpg'); */
    background-image: url('https://static.wixstatic.com/media/9965898c7b854bad9ad52670e0fc39ab.jpg'); 
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.nav {
    background-color: aquamarine;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron .container {
    margin-top: 2%;
    padding: 3%;
    max-width: 45rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
   
}

p {
    color: white;
}

#size,
#size1 {
    width: 11rem;
}

.wrapper {
    text-align: center;
    margin: 3rem;
}

.container{
  /* margin: 19rem; */
  margin-left: 400px;

   }
   .form-control mr-lg-2
   {
       margin-left: 30px;
   }
  