.jumbotron {
    padding-top: 8%;
    padding-bottom: 3%;
    padding-left: 15%;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('img/banjo.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron .container {
    margin-top: 4%;
    padding: 3%;
    max-width: 45rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

p {
    color: white;
}

#size,
#size1 {
    width: 11rem;
}

.wrapper {
    text-align: center;
    margin: 3rem;
}