<section class="jumbotron   no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container">
        <h1 class="display-4"> Search storage unit</h1>
        <p> Find your space, coz everybody needs it </p>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" id="area" type="search" placeholder="Location / Area" aria-label="Search" #area>
            <input class="form-control mr-lg-2" id="sqft" type="search" placeholder="Square feet" #sqft>


        </form>
        <div class="wrapper">
            <button class="btn btn-primary my-2 my-sm-0" id="mybtn" type="submit" (click)='getData(area.value,sqft.value)'> Search

      </button>
        </div>


    </div>
</section>

<app-navbar-user> </app-navbar-user>