<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" routerLink="/recommendationUser" routerLinkActive="active"> <strong>Smart SPACE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">




        </ul>
        <form class="form-inline my-2 my-lg-0">


            <ul class="navbar-nav ml-auto" >

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown value" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong> Menu  </strong>
                    </a>
                    <div class="dropdown-menu values" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item values" routerLink="/user-dashboard" routerLinkActive="active">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile
                        </a>
                        <a class="dropdown-item values" href="#" routerLink="/booked-storage" routerLinkActive="active">
                            <i class="fa fa-camera-retro fa-fw"></i> Booked Storage Unit
                        </a>
                        <a class="dropdown-item values" href="#" routerLink="/user-search" routerLinkActive="active">
                            <i class="fas fa-search-location fa-fw"> </i> Search Storage Unit
                        </a>
                        <a class="dropdown-item values" routerLink="/logout" routerLinkActive="active">
                            <i class="fa fa-arrow-left fa-fw"> </i> Log-out
                        </a>
                    </div>
                </li>



            </ul>
        </form>
    </div>
</nav>