<!-- <app-navbar-user> </app-navbar-user> -->
<app-shennav> </app-shennav>



<section class="jumbotron   no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container">
        <h1 class="display-4"> Search storage unit</h1>
        <p> Find your space, coz everybody needs it... </p>
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" #area placeholder="Location/Area">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" #sqft placeholder="Square feet">
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-login wrn-btn" (click)="search(area.value,sqft.value)"> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- routerLink="/search" routerLinkActive="active" -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>