<div class="wrapper">


    <div class="container">
        <div class="jumbotron">
            <h1>About Us</h1>

            <p>Our storage facilities are designed to offer economical and easily accessible storage space for household and business customers. We feature affordable, convenient and secure facilities to care about your belonging as much as you do..</p>
            <p>We are a one stop destination for all your storage needs. If you are traveling, renovating your house, running out of space or looking for storage space on rental for your households and automobiles, Smart SPACE is the right place with wide
                range of storage solutions. Our storage facilities include Personal storage, Household goods storage, Automobile storage, Business storage, space to store your car or vintage vehicle.</p>
        </div>
    </div>


</div>