<app-shennav> </app-shennav>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let data of arrayOfData ; let i=index">
            <div class="card border-0 shadow" *ngIf="i<6">
                <img id="pic" src="{{data.imageUrl}}" class="card-img-top" alt="Warehouse Image">
                <div class="card-body text-center">
                    <h4 class="card-title mb-0">{{data.warehouseName}}</h4><br>
                    <div class="card-text text-black-60 text-left">


                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5>Warehouse ID : {{data.warehouseId}}</h5>
                        <!-- <h5>City : {{data.address.city}}</h5> -->
                        <h5>Owner Mail : {{data.ownerMail}}</h5>
                        <!-- <h5>Total Cost :{{data.totalCost}}</h5> -->


                    </div><br>

                    <button type="submit" class="btn btn-light" (click)="details(data.warehouseId)">
                     Details                            
                  </button>


                </div>
            </div>
        </div>
    </div>
</div>