.register {
    background-image: url('img/stage.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: inherit;
    margin-bottom: .75cm;
    margin-top: .75cm;
    padding-top: 15px;
}

form {
    margin: auto;
    width: 51%;
    border-radius: 0.3em;
    background: rgba(255, 255, 255, .9);
}

.light {
    background-color: #e5e5e5;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 2px #eee;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

label {
    margin-top: 2px;
    margin-bottom: 0%;
}