<app-shennav-owner></app-shennav-owner>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>




<h2>Post Storage Unit... </h2>


<div class="container register col-lg-11 col-md-9 col-sm-7 col-xs-6">


    <form #myform="ngForm" class="form-horizontal col-lg-10 col-md-8 col-sm-7 col-xs-6" role="form">

        <br>

        <div class="form-group">
            <label class="col-lg-10 control-label"> <h4>Name: {{name}}</h4></label>
            <br>
            <label class="col-lg-10 control-label"> <h4>E-mail: {{email}}</h4></label>
            <br>
            <label class="col-lg-10 control-label"> <h4>Mobile Number: {{phone}}</h4></label>



            <!-- <div class="col-lg-10">
                <input class="form-control" value={{name}} type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label"> <h4>E-mail: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" value={{email}} type="text">
            </div> -->
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="nameWH"> <h4>Storage Unit name: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="warehouseName" placeholder=" Warehouse Name" type="text">
            </div>
        </div>




        <div class="form-group">
            <label class="col-lg-5 control-label" for="imageUrl"> <h4> Upload Image :</h4>
            </label>

            <div class="col-lg-5">
                <input class="form-control" ngModel name="imageUrl" type="file">
            </div>

        </div>



        <div class="form-group">
            <label class="col-lg-10 control-label" for="plotNo"> <h4>Plot Number: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="plotNo" placeholder="Plot Number / Door Number" type="number">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="area"> <h4>Area: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="area" placeholder="Area" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="city"> <h4>City: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="city" placeholder="City" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="state"> <h4>State: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="state" placeholder="State Name" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="country"> <h4>Country: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="country" placeholder="Area" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-10 control-label" for="pincode"> <h4>Pincode: </h4></label>

            <div class="col-lg-10">
                <input class="form-control" ngModel name="pincode" placeholder="Pincode" type="number">
            </div>
        </div>



        <label class="col-lg-10 control-label "> <h3> Partition Details :</h3>     </label>

        <div class=" mypartition">



            <div class="card" style="width: 25rem;">
                <h4 align="center"> Partition Number : {{form1}} </h4>

                <img class="card-img mypartitionImg" src="assets/room6.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Choose type, Enter Cost and Area respectively
                    </p>

                    <div class="form-check">
                        <input #myCheck class="form-check-input" (click)="toggle()" type="checkbox" name="air-conditioned" value="false">
                        <label class="form-check-label" for="refrigerated">
                              <h5> Air-Conditioned </h5>  
                            </label>
                    </div>

                    <br>



                    <div class="form-group">
                        <input #area class="form-control col-lg-9" placeholder="Enter Area (sqFt)" type="number">
                    </div>

                    <div class="form-group">
                        <input #cost class="form-control col-lg-9" placeholder="Enter Cost" type="number">
                    </div>




                    <input type="button" class="btn btn-outline-primary addDel" value="Add Partition" (click)=add(area.value,cost.value)>
                    <!-- <input type="button" class="btn btn-success addDel" value="Save" (click)="save(area.value,cost.value)"> -->
                    <input type="button " class="btn btn-outline-danger addDel " value="Delete Last " (click)=delete(area)>





                </div>
            </div>
        </div>




        <div *ngFor="let partitions of partitions">

            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-muted">Partition</h6>
                    <p class="card-text"><b>Area:</b> {{partitions.sqft}} Sqft-</p>
                    <p class="card-text"><b>Cost: </b>{{partitions.cost}} Rupees-</p>
                    <p class="card-text"> <b>AirConditiond: </b>{{partitions.type}}</p>
                    <button class="card-link btn btn-warning" (click)="delete(partitions)">Delete</button>
                </div>
            </div>
        </div>








        <div class="form-group ">
            <label class="col-lg-10 control-label " for="sqft "> <h4>Total Square-feet: {{sumArea}}</h4></label>


        </div>



        <div class="form-group ">
            <label class="col-lg-10 control-label " for="totalCost "> <h4>Total Cost: {{sumCost}} </h4></label>


        </div>


        <div class="post ">

            <input type="button " class="btn btn-primary " value="Post Storage Unit " (click)="postUnit(myform.value) ">
        </div>
        <hr>




    </form>
    <!-- /form -->


</div>
<!-- ./container -->


<!-- inputMail.value,nameWH.value,image.value,PlotNo.value,inputLocation.value,city.value,state.value,country.value,pincode.value,inputCost.value,inputArea.value,myCheck.value -->