<h1 class="text-center pt-2">Partitions...</h1>

<div class="col-12">
    <div class="thumbnails row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>Partition 1</h3>
            <div class="thumbnail">
                <img src="assets/s1.png">

                <div class="label label-success price">
                </div>

                <div class="caption">
                    <p class="card-text">Location:Radha Nagar</p>
                    <p class="card-text">Status:Not Occupied</p>
                    <p class="card-text">Type:Refrigerator</p>
                    <p class="card-text">Size:500 sqft</p>
                    <p class="card-text">Cost: $500</p>
                    <p class="card-text">Owner MailId:aaa@gmail.com</p>
                    <a href="#" class="btn btn-primary btn-small" routerLink="/bookings" routerLinkActive="active">Book Now</a>
                </div>
                <!-- End of caption-->
            </div>
            <!-- End of thumbnail-->
        </div>
        <!-- End of Col-6-->




        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>Partition 2</h3>
            <div class="thumbnail">
                <img src="assets/s2.png">

                <div class="label label-info price">
                    <span class="glyphicon glyphicon-heart"> </span>
                </div>

                <div class="caption">
                    <p class="card-text">Location:Radha Nagar</p>
                    <p class="card-text">Status:Not Occupied</p>
                    <p class="card-text">Type:Refrigerator</p>
                    <p class="card-text">Size:500 sqft</p>
                    <p class="card-text">Cost: $500</p>
                    <p class="card-text">Owner MailId:aaa@gmail.com</p>
                    <a href="#" class="btn btn-primary btn-small" routerLink="/bookings" routerLinkActive="active">Book Now</a>
                </div>
                <!-- End of caption-->
            </div>
            <!-- End of thumbnail-->
        </div>
        <!-- End of Col-6-->


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>Partition 3</h3>
            <div class="thumbnail">
                <img src="assets/s3.png">
                <div class="label label-success price">
                </div>
                <div class="caption">
                    <p class="card-text">Location:Radha Nagar</p>
                    <p class="card-text">Status:Not Occupied</p>
                    <p class="card-text">Type:Refrigerator</p>
                    <p class="card-text">Size:500 sqft</p>
                    <p class="card-text">Cost: $500</p>
                    <p class="card-text">Owner MailId:aaa@gmail.com</p>
                    <a href="#" class="btn btn-primary btn-small" routerLink="/bookings" routerLinkActive="active">Book now</a>
                </div>
                <!-- End of caption-->
            </div>
            <!-- End of thumbnail-->
        </div>
        <!-- End of Col-6-->
    </div>
    <!-- End of thumbnails row-->
</div>
<!-- End of col-12-->