
.container-fluid {
    background-image: url("https://www.ubackground.com/_ph/90/274572995.jpg");
    /* background-image: url("img/banjo.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
      background-size: 1800px; 
}
