.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}

.example-full-width {
    width: 100%;
    font-size: 28px;
    /* padding-left: 200px; */
}

td {
    padding-right: 8px;
    font-size: 28px;
}

.container {
    /* background-image: url("");      */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-size: 1800px; */
    background-color: ghostwhite;
}

.container-fluid {
    background-image: url("https://www.ubackground.com/_ph/90/274572995.jpg");
    /* background-image: url("img/banjo.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

.mat-form-field {
    font-size: 28px;
}

#head {
    font-size: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* .date{
  padding-left: 200px;
} */

.btn btn-success btn-lg {
    margin-left: 200px;
}

@media screen and (max-width: 320px) {
    .example-form {
        width: 100%;
    }
    .container {
        width: 1000px;
    }
}

.det {
    font-size: 28px;
}