<app-navbar-owner> </app-navbar-owner>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="container">
        <form class="example-form">
            <h1 id="head">Booking....</h1>




                <p>UserEmail: {{email}}</p>
                <p>UserMobile: {{phone}}</p>
                <br>
                <p>WareHouseId: {{partitionData.id}}</p>
                <p>WareHouseName: {{partitionData.warehouseName}}</p>
                <p>OwnerMail: {{partitionData.ownerMail}} </p>
                <p> Partition Number: {{pid}}</p>
                <p> Partition cost : {{cost}}</p>
                <p> Partition Squarefeet : {{sqft}}</p>




            </section>
            <mat-form-field class="date">
                <input matInput [matDatepicker]="picker" placeholder="Startdate" #val1>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field> 

              <mat-form-field class="date">
                  <input matInput [matDatepicker]="picker1" placeholder="EndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>  

            <mat-form-field class="date">
                <input matInput [matDatepicker]="picker1" placeholder="EndDate" #val2>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>



            <button type="button" class="btn btn-success btn-lg" (click)="BookNow(val1.value,val2.value)">Submit</button>





        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
