/* You can add global styles to this file, and also import other style files */

/* @font-face {
  font-family: 'Glyphicons Halflings';
 
 
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body { height: 100%; }

body { margin: 0; 
  /* font-family: Roboto, "Helvetica Neue", sans-serif;  */

}

body,p,button,form,h1,h2,h3,h4,h5,h6,li,a,ul,section,label,input,div,mat-form-field{
  font-family: "Open Sans"; 
}