<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" routerLink="/landing" routerLinkActive="active"> <strong>Smart SPACE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">




        </ul>
        <form class="form-inline my-2 my-lg-0">


            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown value"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong> Menu  </strong>
                    </a>
                    <div class="dropdown-menu values" aria-labelledby="navbarDropdown">



                        <a class="dropdown-item values" routerLink="/owner-dashboard" routerLinkActive="active">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile
                        </a>
                        <a class="dropdown-item values" routerLink="/post-storage" routerLinkActive="active">
                            <i class="fa fa-camera-retro fa-fw"></i> Post Storage Unit
                        </a>
                        <a class="dropdown-item values" routerLink="/listed-storage" routerLinkActive="active">
                            <i class="fab fa-buffer"></i> Listed Storage Unit
                        </a>

                        <a class="dropdown-item values" routerLink="/logout" routerLinkActive="active">
                            <i class="fa fa-arrow-left fa-fw"> </i> Log-out
                        </a>

                    </div>
                </li>



            </ul>
        </form>
    </div>
</nav>