.container {
    overflow-x: hidden;
    /* For Opera */
    -webkit-box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px, inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
    -moz-box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px, inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
    box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px, inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
}

.my-header {
    max-width: 900px;
    align-items: center;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.button1 {
    background-color: maroon;
    margin-right: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 25px;
    /* Green */
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 90px;
}

#share {
    width: 70%;
    height: 60%;
}

#logoimg {
    width: 19%;
    height: 19%;
    float: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Animate image */

.logo-left img {
    /* background: url("../../assets/logo-box.jpg") no-repeat; */
    width: 300px;
    height: 300px;
    position: relative;
    left: 0;
    -webkit-animation: mover 1.5s infinite alternate;
    animation: mover 1.5s infinite alternate;
}

@-webkit-keyframes mover {
    12.5% {
        top: -10px;
    }
    25% {
        top: -20px;
    }
    37.5% {
        top: -35px;
    }
    50% {
        top: -40px;
        left: -10px
    }
    62.5% {
        top: -40px;
        right: -10px;
    }
    75% {
        top: -20px;
    }
    100% {
        top: -10px;
    }
}

@keyframes mover {
    12.5% {
        top: -10px;
    }
    25% {
        top: -20px;
    }
    37.5% {
        top: -35px;
    }
    50% {
        top: -40px;
        left: -10px
    }
    62.5% {
        top: -40px;
        right: -10px;
    }
    75% {
        top: -20px;
    }
    100% {
        top: -10px;
    }
}