<app-navbar> </app-navbar>


<br>
<br>
<br>
<br>


<div class="my-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="logo-left">
        <img src="../../assets/logo-box.png" id="logoimg" class="logo img-responsive" alt="A box">
    </div>




    <h1 class="display-4"> Welcome to Smart SPACE !!! </h1>
    <br>


    <button class="btn btn-outline-dark button1" routerLink="/searchComp" routerLinkActive="active">
        <i class="fas fa-search-location fa-fw"> </i>  Find Storage Space 
    </button>

    <button class="btn btn-outline-dark button1" routerLink="/post-storage" routerLinkActive="active">
        <i class="fas fa-rupee-sign fa-fw"> </i> Earn Money with my Space
    </button>

    <p class="lead">
        Smart Space is the sharing platform for storage, the affordable alternative for self-storage and luggage storage. With Smart Space, you find cheap storage around the corner. If you have unused space, you can easily earn thousands of Rupees's per year.
        Together, we make better use of existing space. Register now for free and rent nearby storage space or list your space.
    </p>



    <!-- <img src="assets/shareSpace.png" class="center img-responsive" alt="People - sharing box of items"> -->-->


    <!--
  -->


    <img src="assets/shareSpace.png" id="share" class="center img-responsive" alt="People - sharing box of items"> -->


</div>