<div class="my-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"> Why Smart SPACE ? </h1>


    <p class="lead">
        Smart Space is the sharing platform for storage, the affordable alternative for self-storage and luggage storage. With Smart Space, you find cheap storage around the corner. If you have unused space, you can easily earn thousands of Rupees's per year.
        Together, we make better use of existing space. Register now for free and rent nearby storage space or list your space.
    </p>
    <!-- <img src="assets/shareSpace.png" class="center img-responsive" alt="People - sharing box of items"> -->

</div>
<img src="assets/shareSpace.png" class="center img-responsive" alt="People - sharing box of items">