.my-header {
    max-width: 900px;
    align-items: center;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 90px;
}

#share {
    width: 70%;
    height: 60%;
}

#logoimg {
    width: 40%;
    height: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}