<mat-dialog-content>

    <h3> Select your Location preference</h3>
    <br>


    <div class="container">
        <div class="row ">
            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/chennai.jpg" (click)="buttonClick('Chennai')">
        </button>

            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Bangalore.jpg" (click)="buttonClick('Bangalore')">
        </button>
            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Kolkata.jpg" (click)="buttonClick('Kolkata')">
        </button>
            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Mumbai.jpg" (click)="buttonClick('Mumbai')">
        </button>
            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Hyderabad.jpg" (click)="buttonClick('Hyderabad')">
        </button>

            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Lucknow.jpg" (click)="buttonClick('Lucknow')">
        </button>
            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Jaipur.jpg" (click)="buttonClick('Jaipur')">
        </button>

            <button mat-button [mat-dialog-close] cdkFocusInitial>
            <img href="#" src="../../assets/Pune.jpg" (click)="buttonClick('Pune')">
        </button>

        </div>

    </div>



</mat-dialog-content>