/* You can add global styles to this file, and also import other style files*/
.main{
    background: url("https://static.wixstatic.com/media/9965898c7b854bad9ad52670e0fc39ab.jpg");
    background-size: cover;
    color: white;
    padding: 35px;
    font-size: 56px;
    text-align: center;
    width: 100%;
    height: 100%; 
}
.display-3 {
    padding-top: 20%;
}
/* .thankyou-gif{
       padding-top: 9%;
   } */
   
.text {
    font-size: 50%;
}
#cont1 {
    padding-right: 12px;
}
button{
    margin-left: 10px;
}