<div class="main">
    <div class=container>
        <!-- <img class="thankyou-gif" src="https://www.clipartmax.com/png/middle/225-2257538_thumbs-up-smiley-face.png" > -->
        <h1 class="display-3">Thank You!</h1>
        <p class="text">You have successfully booked your storage space. </p>
        <hr>
        <button class="btn btn-primary btn-sm" id="cont" routerLink="/recommendationUser" routerLinkActive="active">Continue to home</button>
        <button class="btn btn-primary btn-sm" id="cont1" routerLink="/logout" routerLinkActive="active">Logout</button>

    </div>
</div>