<app-navbar-owner></app-navbar-owner>

<br>
<br>
<br>
<br>

<h1 class="text-center pt-2"> Your Listed Storage Units...</h1>

<br>
<div class="custom-control-inline" *ngFor="let data of ArrayOfWarehouseData">
    <div class="card" style="width:22rem;">
        <div class="card-body">
            <div class="thumbnail">
                <img src="assets/room7.jpeg">

                <div class="caption">
                    <!-- <h5> Location: Kormangala</h5> -->
                    <h3 class="card-title">Warehousename:{{data.name}}</h3>
                    <h3 class="card-title">ID:{{data.id}}</h3>
                    <h3 class="card-title">Area:{{data.address.area}}</h3>
                    <h3 class="card-title">City:{{data.address.city}}</h3>


                    <!--  (click)="details(data.id)"-->

                    <p>
                        <a class="btn btn-primary btn-small" (click)="details(data.id)">Details</a> </p>
                </div>
            </div>

        </div>
    </div>
</div>