<app-shennav-owner></app-shennav-owner>

<br>
<br>
<br>

<h1 class="text-center pt-2"> Your Listed Storage Units</h1>

<br>




<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let data of ArrayOfWarehouseData.listedStorageUnit">
            <div class="card border-0 shadow">
                <img id="pic" src="{{data.imageUrl}}" class="card-img-top" alt="Warehouse Image">

                <div class="card-body text-center">
                    <!-- <h4 class="card-title mb-0">{{data.warehouseName}}</h4><br> -->
                    <div class="card-text text-black-60 text-left">
                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5> <b>Warehouse Name : </b> {{data.name}}</h5>
                        <h5> <b>Owner Mail : </b> {{data.emailId}}</h5>
                        <h5> <b>Warehouse ID : </b>{{data.id}}</h5>
                        <!-- <h5>Area :{{data.address.area}}</h5> -->


                    </div><br>

                    <button type="submit" class="btn btn-light" (click)="details(data.id)">
    
                        Details                            
                     </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="custom-control-inline" *ngFor="let data of ArrayOfWarehouseData.listedStorageUnit">
    <div class="card" style="width:22rem;">
        <div class="card-body">
            <div class="thumbnail">
                <img src="assets/room7.jpeg">

                <div class="caption">
                    <h5> Location: Kormangala</h5> -->
<!-- <h3 class="card-title">User Name:{{data.name}}</h3>
                    <h3 class="card-title">User Mail:{{data.emailId}}</h3>

                    <h3 class="card-title">ID:{{data.id}}</h3>
                    <h3 class="card-title">Area:{{data.location}}</h3> -->


<!--  (click)="details(data.id)"-->

<!-- <p>
                        <a class="btn btn-primary btn-small" (click)="details(data.id)">Details</a> </p>
                </div>
            </div>

        </div> -->
<!-- </div> -->
<!-- </div> -->