<div class="wrapper">
    
    <div class="container" id="house">
        <div class="row">

            <div class="col-md-6 login-sec">
                <!-- <h2 class="text-center">
                    Login Now
                </h2> -->
                <form class="login-form">
                    <div class="form-group">
                        <label for="inputEmail" id="labels">Warehousename : Pranu</label>
                        <!-- <input type="text" #inputEmail class="form-control" placeholder=""> -->

                    </div>
                    <div class="form-group">
                        <label for="inputPassword" id="labels">Partition Id : 143</label>
                    </div>

                        <div class="form-group">
                            <label for="inputPassword" id="labels">Sqft : 420</label>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" id="labels">Cost : 2000</label>
                        </div>

                </form>
                    <div class="copy-text">
                    </div>
            </div>

            <div class="col-md-6 banner-sec">
            </div>
        </div>
    </div>
</div>
<br>
<br>







<!-- cards -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <!-- <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="..."> -->
                <img id="pic" src="../../assets/card3.jpg" class="card-img-top" alt="...">
               
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Camp Camper</h5><br>
                    <div class="card-text text-black-60 text-left">
                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5 >Area       : Marthalli</h5>
                        <h5 >City       : bangalore</h5>
                        <h5 >Total Area : 300</h5>
                        <h5 >Total Cost :4000</h5>
    
                    </div><br>

                    <button class="btn2">
                            <span><b>Details</b></span>                              
                      </button>
                    
                </div>
            </div>
        </div>
       
        
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img id="pic" src="../../assets/card2.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Home Space</h5><br>
                    <div class="card-text text-black-60 text-left">
                        <h5 >Area: Manyata</h5>
                        <h5 >City: bangalore</h5>
                        <h5 >Total Area: 600</h5>
                        <h5 >Total Cost:9000</h5>
    
                    </div><br>
                    <button class="btn2">
                            <span><b>Details</b></span>                              
                        </button>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img id="pic" src="../../assets/card4.jpg"  class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Shinner</h5><br>
                    <div class="card-text text-black-60 text-left">
                        <h5 >Area: Marthalli</h5>
                        <h5 >City: bangalore</h5>
                        <h5 >Total Area: 300</h5>
                        <h5 >Total Cost:4000</h5>
    
                    </div><br>
                     <button class="btn2">
                            <span><b>Details</b></span>                              
                        </button>
                </div>
            </div>
        </div>
    </div>
