
    
.navbar {
    background-color: transparent;
    background-color: maroon;
    height: 59px;
}

.top-nav-collapse {
    background-color:maroon;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color:maroon
    }
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}
nav ul li a {
   
    /* font-weight: 500; */
    font-size: 18px;
}
.navbar-brand{
    font-size: 30px;

}
#mynav{
    font-weight: bold;
    font-size: 25px;
}
#navbarSupportedContent{
    padding-left: 70%;
}
strong{
    color: white;
}