<div class="wrapper">


    <div class="container">
        <div class="row">

            <div class="col-md-4 login-sec">
                <h2 class="text-center">
                    Login Now
                </h2>
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" id="labels">Username</label>
                        <input type="text" class="form-control" placeholder="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" id="labels">Password</label>
                        <input type="password" class="form-control" placeholder="">
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <p id="check"> Remember Me</p>
                                </label>


                            <div class="form-group">
                                <button type="button" class="btn btn-login float-right" (click)="login(inputName.value,inputEmail.value)">Submit</button>

                            <br>
                            <hr>


                        </div>
                    </div>

                </form>


                <div class="copy-text">
                    <hr> Created with <i class="fa fa-heart"></i> by SmartSpace Team</div>
            </div>

            <div class="col-md-8 banner-sec">

            </div>
        </div>
    </div>


</div>