<app-navbar-user> </app-navbar-user>

<br>
<br>
<br>
<br>
<h2 class="text-center pt-2">My booked-storage Units...</h2>
<!-- <div class="cards"> -->
<!-- <div class="cards" *ngFor="let data of  ArrayOfWarehouseData">
        <div class="card" style="width: 20rem">
            <div class="card-body">
                <div class="thumbnail">
                    <img src="assets/room7.jpeg">
                    <div class="label label-success price">
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                    <div class="caption">
                        <h5 class="card-title">Warehousename:{{ArrayOfWarehouseData[0].warehouseName}}</h5>
                        <h5 class="card-title">OwnerMail:{{ArrayOfWarehouseData[0].OwnerMail}}</h5>
                        <h5 class="card-title">Total-Area:{{ArrayOfWarehouseData[0].totalArea}}</h5>
                        <p>
                            <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div> -->






<div class="card">
    <div class="image-container">
        <h1>My Profile</h1><br>
        <h5>Infomation</h5>
        <div class="row">
            <div class="col-md-3">
                <img src="assets/room7.jpeg">
                <br />
                <div class="edit">
                    <a href="" routerLink='/edit' routerLinkActive="active">Edit</a>
                </div>
            </div>
            <div class="card" *ngFor="let data of ArrayOfWarehouseData">
                <div class="card-body">
                    <h5 class="card-title">{{data.OwnerMail}}</h5>
                    <p class="card-text">{{data.warehouseName}}</p>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                      </button> -->


                </div>

            </div>


        </div>
    </div>
</div>