button {
    height: 2.5em;
    border: 2px solid rgb(80, 75, 75);
    font-size: 15px;
    text-align: center;
}

.btn2 {
    border-radius: 10px 30px 10px;
    color: black
}

.imagecard {
    height: 200px;
    width: 200px;
}