<app-shennav-user></app-shennav-user>

<br>
<br>
<br>

<h1 class="text-center pt-2"> Your Booked Storage Units</h1>
<br>


<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let data of ArrayOfWarehouseData.bookedStorageUnit">
            <div class="card border-0 shadow">
                <img id="pic" src="../../assets/patritionImg.jpg" class="card-img-top imagecard" alt="Warehouse Image">

                <div class="card-body text-center">
                    <!-- <h4 class="card-title mb-0">{{data.warehouseName}}</h4><br> -->
                    <div class="card-text text-black-60 text-left">
                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5><b> User Email :</b> {{data.emailId}}</h5>

                        <h5> <b>Warehouse ID : </b> {{data.id}}</h5>
                        <h5><b>Location: </b> {{data.location}}</h5>
                        <h5><b> Square feet : </b> {{data.sqft}}</h5>
                        <h5><b> Start Date : </b> {{data.startDate}}</h5>
                        <h5><b>End Date:</b> {{data.endDate}}</h5>


                    </div><br>



                </div>
            </div>
        </div>
    </div>
</div>