<app-navbar-owner> </app-navbar-owner>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-7 ">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="Profile Image" src="assets/profile.png">
                </div>
                <div class="info">
                    <div class="title">
                        <p> {{name}}</p>
                        <!-- <a target="_blank" href="">User Name</a> -->
                    </div>


                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="E-Mail" value={{email}} disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput value={{phone}} placeholder="Mobile">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>

                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput value={{role}} placeholder="Registered as" disabled>
                    </mat-form-field>





                </div>
                <div class="bottom">

                    <a class="btn btn-danger" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>

                </div>
            </div>

        </div>

    </div>
</div>



<app-listed-storage> </app-listed-storage>