<app-shennav-owner> </app-shennav-owner>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-l-8 col-sm-6 col-xs-2" id="heading">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="Profile Image" src="assets/profile.png">
                </div>
                <div class="info">
                    <div class="title">
                        <p> {{name}}</p>
                        <!-- <a target="_blank" href="">User Name</a> -->
                    </div>


                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="E-Mail" value={{email}} disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput value={{phone}} placeholder="Mobile">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>

                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput value="Owner" placeholder="Registered as" disabled>
                    </mat-form-field>





                </div>
                <div>

                    <button class="btn btn-danger"> Update Mobile number</button>

                </div>
            </div>

        </div>

    </div>
</div>



<!-- <app-listed-storage> </app-listed-storage> -->