<app-shennav-user>
</app-shennav-user>
<br>
<br>
<br>
<br>
<h1 class="text-center"> Recommendations</h1>
<br>


<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let data of arrayOfData">
            <div class="card border-0 shadow">
                <img id="pic" src="{{data.imageUrl}}" class="card-img-top" alt="Warehouse Image">
                <div class="card-body text-center">
                    <h4 class="card-title mb-0">{{data.warehouseName}}</h4><br>
                    <div class="card-text text-black-60 text-left">
                        <h5>Owner Mail: {{data.ownerMail}}</h5>
                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5>Warehouse ID : {{data.warehouseId}}</h5>
                        <!-- <h5>warehouse Name : {{data.address.city}}</h5> -->
                        <!-- <h5>Owner Mail: {{data.ownerMail}}</h5> -->
                        <!-- <h5>Area :{{data.totalCost}}</h5> -->


                    </div><br>

                    <button type="submit" class="btn btn-light" (click)="details(data.warehouseId)">
    
                         Details                            
                      </button>


                </div>
            </div>
        </div>
    </div>
</div>