<app-navbar-user>
</app-navbar-user>
<br>
<br>
<br>
<br>
<br>
<br>
<h1> Recommendations....</h1>


<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let data of arrayOfData">
            <div class="card border-0 shadow">
                <img id="pic" src="../../assets/card3.jpg" class="card-img-top" alt="...">

                <div class="card-body text-center">
                    <h4 class="card-title mb-0">{{data.warehouseName}}</h4><br>
                    <div class="card-text text-black-60 text-left">
                        <!-- <h5 >Warehousename:Camp Camper</h5> -->
                        <h5>Warehouse ID : {{data.warehouseId}}</h5>
                        <!-- <h5>City : {{data.address.city}}</h5> -->
                        <h5>Owner Mail : {{data.ownerMail}}</h5>
                        <!-- <h5>Total Cost :{{data.totalCost}}</h5> -->


                    </div><br>

                    <button class="btn2" (click)="details(data.id)">

                     <span><b>details</b></span>                              
                  </button>

                </div>
            </div>
        </div>
    </div>
</div>